#active-room-content {
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
}

#active-room-content span {
    font-size: 1.3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 21vw;
    flex: 1;
}

#active-room-content:hover {
    cursor: pointer;
    filter: brightness(.7);
}

.active-room-info {
    display: flex;
    flex-direction: column;
}

.active-room-info svg {
    width: 1.1rem;
}